body {
    margin: 0px 0px 0px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.logo {
    text-align: right;
    position: relative;
    right: 0px;
}

.conteudo {
    position: relative;
    margin: -80px 30px 0px 30px;
}

.rodape {
    background-image: url('Imagens/fundo.png');
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 328px;
    background-repeat: no-repeat;
    background-position: right;
    z-index: -1;
}

table {
    font-size: 30px;
    text-align: center;
    z-index: -1;
}

.top {
    position: relative;
    overflow: hidden;
    z-index: 1;
    position: static;
}

.top:before {
    content: "";
    position: absolute;
    width: 2900px;
    height: 328px;
    background: url('Imagens/fundo.png') no-repeat;
    transform: rotate(180deg);
    left: -2108px;
    top: 0px;
}

.tabela th {
    border: 2px solid black;
    background-color: #F6E13B;
}

.tabela td {
    font-size: 25px;
}

.tabela {
    width: 100%;
    text-align: center;
    margin-top: -80px;
}

p {
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
}